* {
  font-family: 'Poppins', sans-serif;
}

.home {
  padding: 35px;
}

.calendar {
  padding: 35px;
}

.profile {
  padding: 35px;
}

.walk {
  padding: 35px;
}

.welcome {
  
}

.bookyourcoach {
  margin: 0 auto;
  max-width: 500px;
}

.coachButton {
  border-radius: 15px;
  background-color: #52575B;
  display: block;
  margin: 10px 0;
  width: 100%;
  margin-top: -15px;
}

.youtubediv {
  margin: 0 auto;
  max-width: 500px;
}

.youtubebutton {
  border-radius: 15px;
  background-color: #e5e5e5;
  display: block;
  margin: 10px 0;
  width: 100%;
  margin-top: -15px;
  border: none;
}

.youtubeplay {
  color: #000000;
  font-weight: 700;
  font-size: 50px;
  /* margin-bottom: 10px; */
}

.onboarding {
  border-radius: 15px;
  color: #353535;
  font-weight: 700;
  background-color: white;
  width: 30%;
  padding: 3px;
  margin-left: 5px;
}

.coachtext {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  text-align: start;
  margin-bottom: 10px;
  margin-left: 5px;
  letter-spacing: -0.03em;
}

.coachmessagebutton {
  border-radius: 15px;
  background-color: #CECECE;
  display: block;
  margin: 10px 0;
  width: 100%;
  margin-top: 30px;
  border: none;
}

.coachmessage1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  letter-spacing: -0.03em;
}

.coachmessage2 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  text-align: start;
  margin-bottom: 21px;
  margin-left: 5px;
  letter-spacing: -0.03em;
}

.todaysActivities {

}

.actButtonGreen {
  background-color: #F0F0F0;
  border-radius: 15px;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 100px;
  border: 3px solid lightgreen;
}

.actButton {
  background-color: #F0F0F0;
  border-radius: 15px;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 100px;
  border: none;
  
}

.actButtonText {
  text-align: left;
  padding-top: 30px;
  font-weight: 700; 
  font-size: 13px;
  margin-left: 5px;
}

.actButtonText2 {
  text-align: left;
  font-weight: 100;
  font-size: 11px;
  margin-top: -13px;
  margin-left: 5px;
}

.navbar { /* navbarActive */
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  border-radius: 55px;
  margin: auto;
  margin-top: 5px;
  height: 70px;
}

.markascompleted {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  border-radius: 55px;
  margin: auto;
}

.navbarInactive {
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  border-radius: 55px;
  margin: auto;
}

.innerNavBar {
  text-align: center;
  margin-top: 10px;
}

.innerNavBar2 {
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

a > span {
  height: 15px;
  width: 15px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #646464;
}

span {
  margin-top: 5px;
  margin-bottom: -5px;
}

a > p {
  font-size: 13px;
  margin-top: 10px;
}

div > span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1px;
  background-color: rgb(203, 201, 201);
}